<!DOCTYPE html>
<html>
<head>
	<title>WebDxD Student App API Docs</title>
	<style type="text/css">
		body {
			font-family: Helvetica, Arial, sans-serif;
		}
	</style>
</head>
<body>

	<h1 id="webdxdstudentappapi">WebDxD Student App API</h1>

	<h2 id="apidocs">API Docs</h2>

	<h3 id="students">Students</h3>

	<ul>
		<li><p>[GET] <code>/student</code> Get Student List</p></li>

		<li><p>[GET] <code>/student/:id</code> Get Student Detail by ID</p></li>

		<li><p>[POST] <code>/student</code> Create a New Student</p></li>

		<li><p>[PUT] <code>/student/:id</code> Update Student Detail by ID</p></li>

		<li><p>[DELETE] <code>/student/:id</code> Delete a Student by ID</p></li>
	</ul>

	<h3 id="chat">Chat</h3>

	<ul>
		<li>[GET] <code>/chat</code> Loading Chatting Page</li>
	</ul>

</body>
</html>
